* {
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  color: white;
}

h1 {
  color: #f00505;
  /* font-size: 2.5em; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.streaming-service-display::-webkit-scrollbar {
  height: 10px;
}

.streaming-service-display::-webkit-scrollbar-track {
  background: #f00505;
  margin: 0px 0.5em;
  border-radius: 100vw;
}

.streaming-service-display::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid #f00505;
  border-radius: 100vw;
}
